body {
  background-color:black;
  background-image: url(img/background.jpg);
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-position:center center;
}

.block{
  position: absolute;
  display:block;
  background-color: black;
  color: white;
}

form {
  left:20%;
  top:20%;
  width:60%;
  text-align: center;
}

form input[type=text]{
  width:80%;
  margin-bottom: 5px;
}

form select{
  width:20%;
}

form hr{
  border: 1px solid gray;
}

#help{
  left:20%;
  top:50%;
  width: 60%;
  text-align: center;
  
}
